<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.easylabs.residentevil7guidee">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.easylabs.residentevil7guidee.MenuActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.easylabs.residentevil7guidee.AncientCoinsActivity">
        </activity>
        <activity android:name="com.easylabs.residentevil7guidee.BackpackActivity">
        </activity>
        <activity android:name="com.easylabs.residentevil7guidee.KeysActivity">
        </activity>
        <activity android:name="com.easylabs.residentevil7guidee.RepairKitsActivity">
        </activity>
        <activity android:name="com.easylabs.residentevil7guidee.SteroidsActivity">
        </activity>
        <activity android:name="com.easylabs.residentevil7guidee.WeaponsMenuActivity">
        </activity>
        <activity android:name="com.easylabs.residentevil7guidee.WeaponActivity">
        </activity>
    </application>

</manifest>